body{
    margin:0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
/* Header style............ */
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.menu-item li{
    list-style: none;

}
.logo h2 {
    font-size: 24px;
}

.menu-item {
    
    display: flex;
    align-items: center;
    
}
.menu-item li a {
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px;
    color:#3A3A3A;
    font-weight: 600;
}
#jaber{
    margin: 10px;
    padding: 5px 10px;
    color:#3A3A3A;
    font-weight: 600;
  
}
/* Journey section ----------*/
.start-journey{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.left-journey{
    width: 582px;
height: 270px;
}
.left-journey h1{
    
    font-size: 50px;
    font-weight: bold;
}
.left-journey p{
    font-weight:600px;
    
}
.btn a ,#special {
    text-decoration: none;
    color: white;
    margin-top:15px;
    margin-left: 10px;
    
   
}
.btn{
    background-color: #E02C6D;
    border-radius: 41px;
    width: 196px;
    height: 44px;
    padding: 10px 24px;
    background: #E02C6D;

    


}
.right-journey{
    width: 440px;
    height: 414px;
}
.right-journey img{
    width: 100%;

}
/* Logo part .......... */
.logo{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
   
   
    
    
}

.logo img {
    padding:0px 45px;
}
/* popular section........ */
.popular{
    width: 1047px;
height: 1662px;
margin-left: 25%;


}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.product{
    width: 329px;
height: 530px;

padding: 15px;
border-radius: 5px;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
overflow: hidden;


}
.product img{
    width: 100%;
    border-radius: 10px;
}
.product-info{
    display: flex;
    
}
span{
    margin-left: 20px;
}
.section-tittle{
    text-align : center;
    color:#3A3A3A;
    font-size:28px;
}
.fa-solid{
    color:gold
}
/* featured section........ */
.featured{
    margin-top:250px;
}
.product-btn{
    margin-top:25px;
    margin-left:85%;
}
.product-btn a {
    text-decoration: none;
    color:#E02C6D;
    padding:0px 20px;

}
#zahid{
    color:#E02C6D;

}
/* Featured section........ */
.Featured{
    display:flex;
    margin-top: 250px;
    margin-bottom: 250px;
    justify-content: space-evenly;
}
.f-btn a{ 
    text-decoration: none;
    color:white;
    

}
.f-btn{
    background-color: #E02C6D;
    width: 155px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
#jamil{
    color:white;
    margin-left:10px ;
}
.featured-left img{
    width: 404px;
    height: 270px;


}
/* Footer part design */
.footer{
    width: 100%;
    height: 285px;
    background-color: #0A0826;
}
.footer-content{
    color:white;
}
.footer-content-p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0px;
}
.footer-content .fa-brands{
    padding: 15px;
    background-color:gray;
    height:25px;
    width:25px;
    border-radius: 50%;
    font-size: 25px;
    margin: 10px;
    
}



